.clientsSec{
	.clientLogos{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		@include max-width-991{
			justify-content: center;
		}
		li{
			list-style-type: none;
			margin-top: 60px;
			width: 20%;
			text-align: center;
			display: inline-block;
			cursor: pointer;
			@include max-width-1199{
				margin-top: 40px;
			}
			@include max-width-991{
				width: 25%;
			}
			@include max-width-480{
				width: 50%;
			}
			&:hover{
				svg{
					path{
						fill: $primary;
						&.whitecolor{
							fill: #fff;
						}
					}
				}
			}
			svg{
				path{
					@include anim(0.2s);
				}
			}
		}
	}
	.testimonials{
		.testimonial_slider{
			max-width: 560px;
			margin: 0 auto;
			.slick-slide{
				> div{
					display: flex;
					align-items: center;
					justify-content: center;
				}
			}
			.testimonialBox{
				padding-top: 100px;
				@include max-width-1199{
					padding-top: 70px;
				}
				.testimonial_text{
					position: relative;
					font-weight: 700;
					text-align: center;
					color: #000;
					font-size: 24px;
					line-height: 34px;
					margin-bottom: 30px;
					@include max-width-991{
						font-size: 20px;
						line-height: 28px;
					}
					@include max-width-767{
						font-size: 18px;
						line-height: 24px;
					}
					&:before{
						position: absolute;
						content: '';
						left: 0;
						top: -20px;
						width: 42px;
						height: 34px;
						background: url('../images/inverted-comma.svg') no-repeat;
						@include max-width-480{
							top: -45px;
						}
					}
					&:after{
						position: absolute;
						content: '';
						right: 0;
						bottom: -20px;
						width: 42px;
						height: 34px;
						background: url('../images/inverted-comma.svg') no-repeat;
						@include rotate(180deg);
						@include max-width-480{
							bottom: -45px;
						}
					}
				}
				.customerInfo{
					display: flex;
					align-items: center;
					flex-direction: column;
					.customerName{
						font-size: 18px;
						line-height: 26px;
						color: #000;
						margin-top: 15px;
						margin-bottom: 5px;
					}
					.customer_position{
						color: #666666;
						font-size: 14px;
						line-height: 24px;
					}
				}
			}
		}
	}
}