
.mapSection{
	.map{
		width: 100%;
		height: 630px;
		-webkit-filter: grayscale(100%);
		-moz-filter: grayscale(100%);
		-ms-filter: grayscale(100%);
		-o-filter: grayscale(100%);
		filter: grayscale(100%);
		@include max-width-1440{
			height: 400px;
		}
	}
}